.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 26, 0.5); /* 半透明黑色背景 */
    z-index: 999; /* 确保在所有内容之上 */
  }
  
  .home {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* 确保在阴影之上 */
    transition: opacity 1s ease;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
    pointer-events: none; /* 避免点击事件干扰 */
  }
  