.option-container {
    width: 10%; /* 可以根据需要设置 */
    background-color: antiquewhite; 
    padding: 20px;
  }
  
  .option-avatars {
    /* display: flex; 水平排列 */
    justify-content: center; /* 居中对齐 */
    align-items: center; /* 垂直居中对齐 */
  }

  .avatar-container {
    position: relative; /* 方便绝对定位悬停信息 */
    margin: 0 20px; /* 头像间距 */
    display: flex; /* 使容器成为弹性盒子 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    flex-direction: column; /* 可选，若需要将信息竖向排列 */
  }
  
  .opt-avatar {
    width: 50px; /* 头像宽度 */
    height: 50px; /* 头像高度 */
    margin-bottom: 20px;
    border-radius: 50%; /* 圆形头像 */
    cursor: pointer; /* 鼠标悬停时变成手型 */
    transition: transform 0.3s; /* 动画效果 */
  }

  .opt-avatar:hover {
    transform: scale(1.3); /* 鼠标悬停时放大 */
  }
  
  .avatar-container:hover::after {
    content: attr(title); /* 显示title属性的内容 */
    position: absolute; /* 绝对定位 */
    bottom: 80%; /* 悬停信息位置 */
    left: 80%; /* 居中 */
    /* transform: translateX(-50%); 居中调整 */
    background-color: rgba(0, 0, 0, 0.8); /* 背景颜色 */
    color: #fff; /* 字体颜色 */
    padding: 5px 10px; /* 内边距 */
    border-radius: 5px; /* 圆角 */
    border-bottom-left-radius: 0; /* 右下角直角 */
    white-space: nowrap; /* 防止换行 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* 阴影效果 */
    z-index: 1000; /* 确保在其他元素上方 */
    opacity: 0; /* 初始透明度 */
    transition: opacity 0.3s; /* 渐显效果 */
  }
  
  .avatar-container:hover::after {
    opacity: 1; /* 悬停时显示 */
  }